.MenuInfoContainer {
  width: 95%;
  height: auto;
  border-radius: 20px;
  border-bottom: 3px #eee solid;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  padding-bottom: 15px;
  opacity: 95%;
  margin-bottom: 10px;
}

.MenuInfoName {
  font-size: 25px;
  font-weight: bold;
  margin: 20px;
}

.MenuInfoList {
  list-style: none;
  padding: 0;
  margin: 0 20px 20px 20px;
}

.MenuInfoItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}
