.RestaurantInfoMapContainer {
  height: auto;
  width: 95%;
  border-radius: 10px;
  border: 2px #269600 solid;
  text-align: left;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 50px;
  position: absolute;
  top: 550px;

  animation: slideUp 0.3s ease-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.RestaurantInfoPageContainer {
  height: auto;
  width: 95%;
  /* border-radius: 10px; */
  border-bottom: 3px #eee solid;
  text-align: left;
  background-color: #fff;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  margin: 10px;
  padding-bottom: 30px;
}

.RestaurantInfoName {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0 10px 20px;
}

.RestaurantInfoAbout {
  font-size: 16px;
  font-weight: bold;
  margin: 20px 0 10px 20px;
}

p {
  margin: 5px 0 5px 20px;
  color: #6c757d;
}
